@import "~bootstrap/scss/bootstrap";

.error{
    border: red solid 3px;
}

body{
    width: 100vw;
    height: 100vh;
}

button{
    margin-left: 30%;
}

.SimpleNumberInput label{
    margin-left: 30%;
}

.form-group{
    margin-left: 27%;
}

.result{
    margin-left: 30%;
}

.form-group .btn-group{
    padding: 30px;
}
